[project]
	description = Simple osm editor in HTML5. See demo at http://www.viz.lv/simplyjosm
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Viesturs Zariņš (viesturz)
[access "refs/for/refs/*"]
	read = group user/Viesturs Zariņš (viesturz)
	push = group user/Viesturs Zariņš (viesturz)
	label-Code-Review = -2..+2 group user/Viesturs Zariņš (viesturz)
	label-Verified = -1..+1 group user/Viesturs Zariņš (viesturz)
	rebase = group user/Viesturs Zariņš (viesturz)
	removeReviewer = group user/Viesturs Zariņš (viesturz)
	submit = group user/Viesturs Zariņš (viesturz)
[access "refs/heads/*"]
	read = group user/Viesturs Zariņš (viesturz)
	create = group user/Viesturs Zariņš (viesturz)
	push = +force group user/Viesturs Zariņš (viesturz)
	pushMerge = group user/Viesturs Zariņš (viesturz)
[access "refs/tags/*"]
	push = +force group user/Viesturs Zariņš (viesturz)
	pushTag = group user/Viesturs Zariņš (viesturz)
	pushSignedTag = group user/Viesturs Zariņš (viesturz)
